Source: xenta-x-theme
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xenta-x-theme
Vcs-Browser: https://github.com/xentaoslinux/xenta-x-theme.git

Package: xenta-x-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paket Bawaan Theme Xenta X untuk Xenta OS.
 Paket secara bawaan berupa GTK, Windows Sistem dan xfwm Theme.
